<div class="container-fluid container-fluid-custom mb-2">
  <main>
    <div class="row py-md-5 text-center justify-content-center">
      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-4 fw-bold mb-3 position-relative home-title">
          Access Denied
        </h1>
        <p class="fs-4 mb-3">You need to login first.</p>
        <a href="/auth/google" class="btn btn-primary btn-lg">Login In</a>
      </div>
    </div>
  </main>
</div>
